seed {
    display: none;
}

.container-fluid {
    border: 4px solid #ff7979;
    max-height: 150px;
    height: 150px;
    overflow: hidden;
}

.icon {
    width: 25px !important;
    margin-top: 6px;
    float: right;
    margin-right: 7px;
}

#header {
    background: #ebe9f9;
    background: -moz-linear-gradient(45deg, #ebe9f9 0%, #d8d0ef 50%, #cec7ec 51%, #c1bfea 100%);
    background: -webkit-linear-gradient(45deg, #ebe9f9 0%, #d8d0ef 50%, #cec7ec 51%, #c1bfea 100%);
    background: linear-gradient(45deg, #ebe9f9 0%, #d8d0ef 50%, #cec7ec 51%, #c1bfea 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=1);
    padding: 10px;
    color: #454545;
    font-size: 15px;
    border-bottom: 4px solid #ff7979;
    font-family: 'Russo One';
    font-weight: bold;
}

.img-box {
    height: 100%;
    width: 72px !important;
    border-right: 2px solid #ff7979;
}

.objImg {
    height: 100%;
    min-width: 200px;
    background: black;
    /* background-image: url(https://hb.imgix.net/45cfc7ab093b99ed6ac3d8e421a76a6329ebc975.jpg?auto=compress,format&dpr=1&fit=clamp&h=177&w=308&s=f0489428fd51c9920d41f4a5a862bf6e); */
    background-position: center;
    background-size: cover;
}

.container-fluid>.row {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,eeeeee+100;Grey+Flat */
    background: rgb(238, 238, 238);
    /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(238, 238, 238, 1) 0%, rgba(238, 238, 238, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(238, 238, 238, 1) 0%, rgba(238, 238, 238, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(238, 238, 238, 1) 0%, rgba(238, 238, 238, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.over > .over-information {

}

a {
    color: inherit;
    text-decoration: inherit;
}

.container-fluid>.row {
    width: 100%;
    height: 110px;
}

.container-fluid>.row>div.gObj>* {
    float: left;
}

.container-fluid>.row>div>div.objContent {
    margin-left: 10px;
    color: #424242;
    width: calc(100% - 210px);
}

.container-fluid>.row>div>div.objContent>.price {
    border-left: 4px solid #ff7979;
    min-width: 60px;
    color: #424242;
    padding: 7px;
    /* font-family: 'Russo One'; */
    font-weight: bold;
    border-bottom: 4px solid #ff7979;
    border-radius: 10px;
    float: right;
    margin-right: -4px;
    text-align: center;
}

.objDescription{
    height: 46px;
    font-size: 12px;
}

.price-strike {
    color: red !important;
    text-decoration: line-through
}

h4 {
    font-weight: bold;
    text-shadow: 0px 0px 1px #a0a0a0;
}

html,
body {
    background: unset;
    background-color: unset;
    margin:0px;
    padding: 0px;
}

.error_msg {
    padding: 20px;
    color: #fb4848;
    text-align: center;
    background-color: #3a3a3a;
}

.over {
    font-family: 'Russo One';
    font-size: 17px;
    color: #444444;
    padding: 15px;
    text-align: center;
}

.over > img {
    width: 200px;
}

#header > small {
    float: right;
    margin-right: 20px;
}